[Desktop Entry]
Name=Ex-YU Kalendar
Comment=Povijest, znanost i kultura
Exec=/usr/bin/python3 /usr/share/exyu-calendar/exyu_calendar.py
Icon=utilities-calendar
Terminal=false
Type=Application
Categories=Utility;
